* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  width: 100%;
}

.trybewarts-header-logo {
  max-width: 15vh;
}

#trybewarts-header-title {
  color: white;
  font-size: 36px;
}

.trybewarts-login {
  display: flex;
}

.trybewarts-email , .trybewarts-password , .trybewarts-submit {
  border-radius: 8px;
  border: none;
  height: 30px;
  margin: 0 0 0 10px;
  width: 150px;
}

.trybewarts-email , .trybewarts-password {
  padding: 10px;
  outline: none;
}

.trybewarts-submit {
  background-color: rgb(143, 2, 2);
  color: white;
  cursor: pointer;
  font-weight: 700;
}

.trybewarts-submit:hover {
  background-color: rgba(143, 2, 2, 0.8);
  border: 1px solid rgb(143, 2, 2);
  color: white;
}
