* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 10%;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

main {
  display: flex;
}

main form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

/* REQUISITO 19 OK */
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 0.5em;
  background-color: rgb(60, 64, 74);
  color: aliceblue;
  text-align: center;
  font-family: Georgia, Times New Roman, Times, serif;
  font-weight: 600;
}

/* Manter uma linha em branco no fim do arquivo por causa do lint */
