* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
  color: aliceblue;
}

.header img {
  padding: 0.25em;
  align-self: center;
  max-width: 4em;
}

.header h1 {
  margin: 0 1em;
  align-self: center;
}

.trybewarts-login {
  width: 40%;
  display: flex;
  flex-basis: 35%;
}

.trybewarts-login input {
  color: dimgray;
  width: 100%;
  border-style: none;
  border-radius: 0.75em;
  margin: 1em 0.5em;
  padding: 0.5em;
}

.trybewarts-login button {
  background-color: rgb(78, 44, 131);
  color: aliceblue;
  width: 100%;
  margin: 1em 0.5em;
  border: none;
  border-radius: 0.75em;
}

main {
  display: flex;
}

main form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

.right-arms {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.right-arms img {
  display: flex;
  height: 500px;
}

/* REQUISITO 19 OK */
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 0.5em;
  background-color: rgb(60, 64, 74);
  color: aliceblue;
  text-align: center;
  font-family: Georgia, Times New Roman, Times, serif;
  font-weight: 600;
}

/* Manter uma linha em branco no fim do arquivo por causa do lint */
