* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 167, 145);
}

.trybewarts-header-logo {
  width: 100px;
}

.trybewarts-login {
  display: flex;
  margin-right: 20px;
}

main {
  display: flex;
  justify-content: space-around;
  border: 1px solid yellow;
}

form h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
}

#evaluation-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 675px;
  border: 1px solid blue;
}

#trybewarts-forms-logo {
  height: 500px;
}

.cadastro {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 320px;
  border: 1px solid red;
}