* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 90px;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
  padding: 0 10px;
}

.trybewarts-header-logo {
  height: 90px;
}

.trybewarts-login {
  display: flex;
}

main , #evaluation-form {
  display: flex;
}

#evaluation-form {
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

.personal-container {
  display: flex;
  flex-wrap: wrap;
}

.personal-container input , .selectHouse-container {
  flex-basis: 50%;
}

.selectHouse-container {
  display: flex;
}

.selectHouse-container select {
  flex-grow: 1;
}

.row-container {
  display: flex;
}

.family-container , .content-container {
  display: flex;
  flex-flow: column wrap;
  flex-basis: 50%;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input-container label {
  flex-basis: 33%;
}
