.header {
    display:flex;
    background-color: rgb(50, 167, 145);
    height: 10%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Manter uma linha em branco no fim do arquivo por causa do lint */
