* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* fonte disponivel em  https://www.dafont.com/pt/harry-p.font */
@font-face {
  font-family: haryFonts;
  src: url(./HARRYP__.TTF);
  color: whitesmoke;
}

body {
  background-color: whitesmoke;
}

main {
  display: flex;
  padding: 1rem;
}

section {
  display: flex;
  flex-wrap: wrap;
}

hr {
  border: solid 0.5px rgb(190,190,190);
  box-shadow: rgba(112, 128, 144, 0.233);
  margin: 0.2rem;
}

select {
  padding: 0.9rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  background-color: white;
  justify-content: flex-end;
  align-items: stretch;
  width: 242px;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  padding: 0.1rem;
}

.header img {
  padding: 0.6rem;
  margin-right: 0.4rem;
}

.header h1 {
  font-family: haryFonts, Verdana, Tahoma, sans-serif;
  font-size: 8vh;
  color: white;
  text-align: center;
}

.inputStyle {
  padding: 0.8rem;
  margin: 5px 5px 2px 10px;
  border-radius: 0.3rem;
  background-color: white;
  color: slategray;
}

.header input {
  padding: 0.8rem;
  margin: 4px;
  width: 12vw;
  border-radius: 0.3rem;
  background-color: white;
  color: slategray;
}

#btnEntrar {
  padding: 0.8rem;
  margin: 4px;
  width: 10vw;
  border-radius: 0.3rem;
  background-color: rgb( 78, 44, 131 );
  color: white;
}

.trybewarts-header-logo {
  height: 4rem;
}

.trybewarts-login {
  display: flex;
  justify-content: space-evenly;
  padding: 0.3rem;
}

#formAvaliation {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

.section1 {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  width: 650px;
}

.alingMail {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.alingMail input {
  width: 300px;
  margin: 5px;
}

.section2 {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  text-align: left;
}

.familias {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 200px;
}

.tecnologias {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
  width: 380px;
  height: 150px;
}

.rateStyle {
  background-color: slategray;
  padding: 2px;
  margin: 4px 0 0 10px;
}