* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
  padding: 0.1rem;
}

.header img {
  padding: 0.6rem;
  margin-right: 0.4rem;
}

#trybewarts-header-title {
  color: white;
  text-align: center;
}

.header input {
  padding: 0.6rem;
  margin-right: 0.2rem;
  border-radius: 0.5rem;
  background-color: white;
}

.header button {
  padding: 0.6rem;
  width: 9rem;
  margin-right: 0.2rem;
  border-radius: 0.5rem;
  background-color: rgb( 78, 44, 131 );
  color: white;
}

.trybewarts-header-logo {
  height: 4rem;
}

.trybewarts-login {
  display: flex;
  justify-content: space-evenly;
}
