* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
}

.trybewarts-login {
  display: flex;
  order: 2;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}

#trybewarts-header-title {
  align-self: center;
  order: 1;
}

.trybewarts-header-logo {
  order: 0;
}

.user-names {
  display: flex;
}

.user-email-house {
  display: flex;
}

.container-family {
  display: flex;
  flex-direction: column;
}

.container-rate {
  display: flex;
}

.family-content {
  display: flex;
}

.container-content div {
  width: 35%;
}

.container-agreement {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

main {
  display: flex;
}

#label-content {
  display: flex;
}
